# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.rsuser
*.suo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Secrets
appsettings.Development.json
appsettings.Local.json

# Node (if frontend later)
node_modules/

# Database scripts
*.sql
*.ddl